* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    width: 80%;
    margin: 10px auto;
    background-color: red;
}

.row {
    padding: 20px;
}

.row .divisione3 {
    position: relative;
    background-color: blue;
    display: inline-block;
    text-align: center;
    width: 33%;
}

.immagine1 {
    width: 100%;
    background-color: black;
}

.immagine2 {
    width: 100%;
    display: none;
}

.divisione3:hover .immagine1 {
    display: none;
}

.divisione3:hover .immagine2 {
    display: inline-block;
}

p {
    font-size: 10px;
    text-align: left;
}

.cuore {
    background-color: white;
    position: absolute;
    padding: 10px;
    top: 10px;
    right: 0px;
}

.discount {
    position: absolute;
    background-color: red;
    color: white;
    padding: 5px;
    left: 0;
    bottom: 60px;
}

.discount p {
    font-size: 15px;
}

.sostenibilita {
    position: absolute;
    background-color: green;
    color: white;
    padding: 5px;
    left: 50px;
    bottom: 60px;
}

.sostenibilita p {
    font-size: 15px;
}

.sostenibilita2 {
    position: absolute;
    background-color: green;
    color: white;
    padding: 5px;
    left: 0px;
    bottom: 60px;
}

.sostenibilita2 p {
    font-size: 15px;
}